#numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#numbers > p {
  margin: 0;
  text-align: center;
  background-color: #CCC;

  line-height: 3rem;
}

#numbers > p:hover {
  background-color: #FFF;
}
